{% extends 'base.html' %} {% block content %}
<div class="login-box card shadow">
  <h3 class="text-center mb-3 text-primary">
    <i class="fa-solid fa-user"></i> Login
  </h3>

  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <button class="btn btn-primary w-100">Login</button>
  </form>

  <p class="text-center mt-3">
    New user? <a href="{{ url_for('register') }}">Register here</a>
  </p>
</div>
{% endblock %}
